# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
pubspec.lock
build/
.dart_tool/
.flutter-plugins-dependencies
coverage/
.idea/
*.iml
.vscode/

# Generated plugin registrant files (optional, if using plugins)
**/generated_plugin_registrant.dart
